.Dictionary section {
  background: #e4d8dc;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 20px 20px;
}

.Dictionary input {
  width: 50%;
  display: block;
  margin: 0 auto;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 15px;
  text-align: center;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
  text-align: center;
}

.Dictionary h1 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}
